[package]
edition = "2021"
name = "egglog"
version = "0.1.0"
description = "egglog is a language that combines the benefits of equality saturation and datalog. It can be used for analysis, optimization, and synthesis of programs. It is the successor to the popular rust library egg."
repository = "https://github.com/egraphs-good/egglog"
keywords = ["e-graphs", "egglog", "datalog", "compiler", "equality"]
license = "MIT"
readme = "README.md"

[workspace]
members = [
  ".",
  "web-demo",
  "vscode/egglog-language-server",
  "vscode/egglog-language-server/tree-sitter-egglog",
]

[[test]]
harness = false
name = "files"

[features]
default = ["bin"]

bin = ["dep:clap", "dep:env_logger", "egraph-serialize/serde", "dep:serde_json"]
wasm-bindgen = ["instant/wasm-bindgen", "dep:getrandom"]

[dependencies]
hashbrown = { version = "0.14", features = ["raw"] }
indexmap = "2.0"
instant = "0.1"
log = "0.4"
rustc-hash = "1.1"
symbol_table = { version = "0.3.0", features = ["global"] }
thiserror = "1"
# symbol_table = { version = "0.2", features = ["global"] }
# symbol_table = { path = "../symbol_table", features = ["global"] }
lazy_static = "1.4"
num-integer = "0.1.45"
num-rational = "0.4.1"
num-traits = "0.2.15"
smallvec = "1.11"

# oliver's slightly improved symbolic expressions with pretty printing
generic_symbolic_expressions = { git = "https://github.com/oflatt/symbolic-expressions", rev = "655b6a4c06b4b3d3b2300e17779860b4abe440f0" }

egraph-serialize = { version = "0.1.0", features = ["serde", "graphviz"] }
serde_json = { optional = true, version = "1.0.100", features = [
  "preserve_order",
] }

lalrpop-util = { version = "0.20", features = ["lexer"] }
regex = "1"

# binary dependencies
clap = { version = "4", features = ["derive"], optional = true }
env_logger = { version = "0.10", optional = true }

ordered-float = { version = "3.7" }

# Need to add "js" feature for "graphviz-rust" to work in wasm
getrandom = { version = "0.2.10", features = ["js"], optional = true }

[build-dependencies]
lalrpop = "0.20"

[dev-dependencies]
glob = "0.3.1"
libtest-mimic = "0.6.1"
