[package]
edition = "2021"
name = "egglog"
version = "0.1.0"

[workspace]
members = [".", "web-demo"]

[features]
default = ["bin"]

bin = ["dep:clap", "dep:env_logger"]
wasm-bindgen = ["instant/wasm-bindgen"]

[dependencies]
hashbrown = {version = "0.13", features = ["raw"]}
indexmap = "1.9"
instant = "0.1"
log = "0.4"
rustc-hash = "1.1"
symbol_table = {git = "https://github.com/mwillsey/symbol_table", rev = "acddcf8938d1b4ed2fce048c9d83c30203d404b9", features = ["global"]}
thiserror = "1"
# symbol_table = { version = "0.2", features = ["global"] }
# symbol_table = { path = "../symbol_table", features = ["global"] }
lazy_static = "1.4"
num-integer = "0.1.45"
num-rational = "0.4.1"
num-traits = "0.2.15"
smallvec = "1.10"
symbolic_expressions = {git = "https://github.com/oflatt/symbolic-expressions", rev = "4c0ea5ca008f972450b2af72387e64d2c1c6a791"}

lalrpop-util = {version = "0.19.8", features = ["lexer"]}
regex = "1"

# binary dependencies
clap = {version = "4", features = ["derive"], optional = true}
env_logger = {version = "0.10", optional = true}

ordered-float = {version = "3.4"}

graphviz-rust = "0.6.2"
# Need to add "js" feature for "graphviz-rust" to work in wasm
getrandom = {version="*", features = ["js"]}

[build-dependencies]
glob = "0.3.1"
lalrpop = "0.19.8"
