[package]
name = "numeric-id"
version = { workspace = true }
edition = { workspace = true }
description = { workspace = true }
repository = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
readme = { workspace = true }

[dependencies]
lazy_static = { workspace = true }
rayon = { workspace = true }

[features]
default = []
