/* common to both blog and main page */
body {
  font-family: 'Nunito Sans', sans-serif;
}

p {
  font-family: 'Nunito Sans', sans-serif;
}

div {
  font-family: 'Nunito Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}