name: Build

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - run: echo "CARGO_INCREMENTAL=0" >> "$GITHUB_ENV"
    - uses: actions/checkout@v3
    - uses: taiki-e/install-action@v2
      with:
        tool: nextest
    - uses: Swatinem/rust-cache@v2
    - run: make test
  nits:
    runs-on: ubuntu-latest
    steps:
    - run: echo "CARGO_INCREMENTAL=0" >> "$GITHUB_ENV"
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
    - run: make nits
  benchmark:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [codspeed-macro, ubuntu-latest]
        benchmark:
          - cykjson
          - eggcc-extraction
          - extract-vec-bench
          - herbie
          - math-microbenchmark
          - python_array_optimize
          - repro-665-set-union
          - stresstest_large_expr
          - typeinfer
    steps:
      - run: echo "CARGO_INCREMENTAL=0" >> "$GITHUB_ENV"
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-codspeed
      - uses: Swatinem/rust-cache@v2
      - run: cargo codspeed build
      - uses: CodSpeedHQ/action@v4
        with:
          run: cargo codspeed run ${{ matrix.benchmark }}
          mode: ${{ matrix.runner == 'ubuntu-latest' && 'instrumentation' || 'walltime' }}
  wasm:
    runs-on: ubuntu-latest
    steps:
      - run: echo "CARGO_INCREMENTAL=0" >> "$GITHUB_ENV"
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@v2
        with:
          tool: wasm-pack
      - uses: Swatinem/rust-cache@v2
      - run: make test
        working-directory: wasm-example
