name: Build

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - run: echo "CARGO_INCREMENTAL=0" >> "$GITHUB_ENV"
    - uses: actions/checkout@v3
    - uses: taiki-e/install-action@v2
      with:
        tool: nextest
    - uses: Swatinem/rust-cache@v2
    - run: make test
  nits:
    runs-on: ubuntu-latest
    steps:
    - run: echo "CARGO_INCREMENTAL=0" >> "$GITHUB_ENV"
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
    - run: make nits
  benchmark:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        # Run on codspeed for walltime and ubuntu for instrumenentation
        runner: [ codspeed-macro, ubuntu-latest ]
    steps:
      - run: echo "CARGO_INCREMENTAL=0" >> "$GITHUB_ENV"
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-codspeed
      - uses: Swatinem/rust-cache@v2
      - run: cargo codspeed build
      - uses: CodSpeedHQ/action@v3
        with:
          run: cargo codspeed run
