name: Deploy Web Demo

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install wasm-pack
      run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

    - name: Cache
      uses: Swatinem/rust-cache@v2

    - name: Build
      run: make web

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      # only actually deploy if pushed to main branch
      if: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: target/www
        force_orphan: true